.landing {
  &__intro {
    font-family: $font-family--open;
    > h2 {
      font-size: 35px;
      font-weight: 300;
      margin-bottom: 8px;
    }
    > p {
      font-size: 16px;
      font-weight: 400;
      text-shadow: 3px 3px 3px rgba($black, 0.8);
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{$i * 0.8}s;
        }
      }
    }
    > .btn {
      animation-delay: 3.2s;
    }
  }
  &__arrow {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba($black, 0.3);
    color: $white;
    font-size: 35px;
    margin-bottom: 10px;
    animation-delay: 4s;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $blue-flat;
      background-color: $white;
      transform: scale(1.1)
    }
  }
}