.overlay
  .overlay__img.bg-landing.bg-animation
  .overlay__bg.blue
  .overlay__content
    .landing__intro.text-center
      %h2.text-white.toBottom
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      %p.text-white.toTop
        minim veniam, quis nostrud exercitation ullamco
      %p.text-white.toTop
        minim veniam, quis nostrud exercitation
      %p.text-white.toTop
        minim veniam, quis nostrud
      %button.btn.btn__large.btn--green.toRight
        GO!