// Font stacks
$font-family--primary: 'Roboto', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Lato', Helvetica, Arial, sans-serif;
$font-family--default: Helvetica, Arial, sans-serif;
// Font weights
$font-weight--min: 300;
$font-weight--light: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--hight-bold: 800;
$font-weight--ultra-bold: 900;

// Fonts sizes
$font-size--min: 14px;
$font-size--normal: 16px;
$font-size--big: 24px;
$letter-space: 10.5px;