// Font urls
$font-url--roboto : 'https://fonts.googleapis.com/css?family=Roboto:300,500,700,900';
$font-url--lato : 'https://fonts.googleapis.com/css?family=Lato:300,500,700,900';
$font-url--open: 'https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700,800';
$font-url--mogra: 'https://fonts.googleapis.com/css?family=Mogra';